<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloSecretaria.css">
    <title>Editar Paciente</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="./moduloSecretaria.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Secretaría</span>
                    </h1>
                </a>

                <nav class="navegacion">

                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Actualizar Datos de Paciente</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form action="/editarPaciente" method="post">
                        <input name="cui" id="cui" type="number" value="<%=paciente.cui%>" readonly>
                        <br /><br />
                        <input name="nombre" id="nombre" type="text" placeholder="Ingrese Nombre"
                            value="<%=paciente.nombre%>">
                        <br /><br />
                        <input name="apellido" id="apellido" type="text" placeholder="Ingrese Apellido"
                            value="<%=paciente.apellido%>">
                        <br /><br />
                        <input name="sexo" id="sexo" type="text" placeholder="Ingrese Sexo" value="<%=paciente.sexo%>">
                        <br /><br />
                        <input name="fecha" id="fecha" type="date" placeholder="Ingrese Fecha de Nacimiento" value="<%=paciente.fecha_nacimiento%>">
                        <br /><br />
                        <div class="contenedor-boton">
                            <div class="boton">
                                <input type="submit" value="Actualizar Datos">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>

</html>