<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloIngresarUsuario.css">
    <title>Editar Usuario</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloAdmin">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo<span
                            class="logo__bold">Administracion</span></h1>
                </a>

                <nav class="navegacion">

                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Actualizar Datos de Empleado</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form action="/editarEmpleado" method="post">
                        <input name="dpi" id="dpi" type="number" placeholder="Ingrese DPI" value="<%=empleado.dpi%>" readonly>
                        <br /><br />
                        <input name="nombre" id="nombre" type="text" placeholder="Ingrese Nombre" value="<%=empleado.nombre%>">
                        <br /><br />
                        <input name="apellido" id="apellido" type="text" placeholder="Ingrese Apellido" value="<%=empleado.apellido%>">
                        <br /><br />
                        <input name="telefono" id="telefono" type="number" placeholder="Ingrese Teléfono" value="<%=empleado.telefono%>">
                        <br /><br />
                        <input name="email" id="correo" type="email" placeholder="Ingrese Correo" value="<%=empleado.correo%>">
                        <br /><br />
                        <div class="contenedor-boton">
                            <div class="boton">
                                <input type="submit" value="Actualizar Datos">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>

</html>