<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloAdministrador.css">
    <title>Medicos</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloAdmin">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span
                            class="logo__bold">Administración</span>
                    </h1>
                </a>
                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Médicos Asociados</h2>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Teléfono</td>
                    <td>E-mail</td>
                    <td>Accion</td>
                </tr>
                <% for(let i=0; i<medicos.length; i++){ %>
                    <tr>
                        <td>
                            <%=medicos[i].id_medico%>
                        </td>
                        <td>
                            <%=medicos[i].nombre%>
                        </td>
                        <td>
                            <%=medicos[i].apellido%>
                        </td>
                        <td>
                            <%=medicos[i].telefono%>
                        </td>
                        <td>
                            <%=medicos[i].correo%>
                        </td>
                        <td>
                            <nav class="opciones">
                                <a class="editar" href="/formEditarMedico/<%=medicos[i].id_medico%>">Editar</a>
                            </nav>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </header>
</body>

</html>