<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloSecretaria.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloSecretaria">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Secretaría</span>
                    </h1>
                </a>
                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Consultar Paciente</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <div class="tabla">
                        <table>
                            <tr>
                                <td>CUI</td>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Sexo</td>
                                <td>Accion</td>
                            </tr>
                            <tr>
                                <td>
                                    <%=paciente.cui%>
                                </td>
                                <td>
                                    <%=paciente.nombre%>
                                </td>
                                <td>
                                    <%=paciente.apellido%>
                                </td>
                                <td>
                                    <%=paciente.sexo%>
                                </td>
                                <td><a class="editar" href="/formEditarPaciente/<%=paciente.cui%>">Editar</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>